<div class="col">
    <div class="card border-0 rounded-0">

        <div class="card-body">
            <div class="card-title clearfix">
                <h5 class="d-inline-block">People management</h5>
                <a class="btn btn-sm btn-outline-primary float-end" routerLink="/add-person">
                    Add person</a>
            </div>
            <hr>
            <div class="container">
                <app-person-list [people]="people$ | async"></app-person-list>
            </div>
        </div>
    </div>
</div>